@import "tailwindcss";

@theme {
    --font-DM-Sans: "DM Sans", sans-serif;

    --color-red-100: hsl(26, 66%, 93%);
    --color-red-300: hsl(10, 100%, 79%);
    --color-red-400: hsl(10, 79%, 65%);

    --color-brown-400: hsl(28, 10%, 53%);
    --color-brown-950: hsl(25, 47%, 15%);

    --color-blue-200: hsl(186, 48%, 83%);
    --color-blue-300: hsl(186, 34%, 65%);

    --leading-125: 125%;
    --leading-130: 130%;
    --leading-135: 135%;

    --text-15: 0.938rem;
    --text-32: 2rem;
}

@font-face {
    font-family: "DM Sans";
    src: url("assets/fonts/DMSans-VariableFont_opsz\,wght.woff2") format("woff2");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font-DM-Sans);
}
